/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: auto;
}

.employee-form-container {
    width: 400px;
    margin: 0 auto;
    padding: 60px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.employee-form-title {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-family: Arial, sans-serif;
    padding: 10px;
}

.form-field {
    margin-bottom: 20px;
}

.form-label {
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.form-input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: Arial, sans-serif;
}

.form-select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: Arial, sans-serif;
}

.file-input {
    width: 80%;
    padding: 20px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

.submit-button {
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #0056b3;
}
